/target
/data
/.demo-data
/pdfs*/
/.env
/.playwright-cli/
*.db
*.db-*
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.pdb
*.msi
/wix/*.wixobj
/wix/*.wixpdb
.vscode/
.idea/
*.swp
.DS_Store
